@model  IEnumerable<string[]>
@{
    ViewBag.Title = "Lịch mở cửa phòng";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_DataTable.Lib")

<table id="table">
    <thead>
        <tr>
            @*<th>STT</th>
            <th>Ngày</th>
            <th>Mã phòng</th>
            <th>Thứ 2</th>
            <th>Thứ 3</th>
            <th>Thứ 4</th>
            <th>Thứ 5</th>
            <th>Thứ 6</th>
            <th>Thứ 7</th>*@
            <th>STT</th>
            <th>Ngay thi</th>
            <th>Gio thi</th>
            <th>Ma phong</th>
        </tr>
    </thead>
    <tbody>
        @*<tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>123456789012</tr>
        <tr>123456789012</tr>
        <tr>123456789012</tr>
        <tr>123456789012</tr>
        <tr>123456789012</tr>
        <tr>123456789012</tr>*@
        @foreach (var m in Model)
        {
            <tr>
                <td>@m[0]</td>
                <td>@m[1]</td>
                <td>@m[2]</td>
                <td>@m[3]</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf-8">
    var oTable = $('#table').dataTable({
        "aoColumnDefs": [
            @*{ "bSortable": false, "aTargets": [0] },*@
            { "bSortable": false, "aTargets": [1] },
            { "bSortable": false, "aTargets": [2] },
            { "bSortable": false, "aTargets": [3] }
        ], // không hiện nút sắp xếp!
        "aaSorting": [[1, 'asc']], //Xếp cột thứ 2
        "bStateSave": true,
        @Html.Partial("_DataTable")
    });
</script>


