@model  IEnumerable<string[]>
@{
    ViewBag.Title = "Lịch mở cửa phòng";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_DataTable.Lib")
@Html.Partial("_DataTable.Printer.Lib")

<table id="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tuần</th>
            <th>Mã phòng</th>
            <th>Thứ 2</th>
            <th>Thứ 3</th>
            <th>Thứ 4</th>
            <th>Thứ 5</th>
            <th>Thứ 6</th>
            <th>Thứ 7</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>12345678901</td>
            <td>12345678901</td>
            <td>12345678901</td>
            <td>12345678901</td>
            <td>12345678901</td>
            <td>12345678901</td>
        </tr>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m[0]</td>
                <td>@m[1]</td>
                <td>@m[2]</td>
                <td>@m[3]</td>
                <td>@m[4]</td>
                <td>@m[5]</td>
                <td>@m[6]</td>
                <td>@m[7]</td>
                <td>@m[8]</td>
            </tr>
        }

    </tbody>
</table>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var oTable = $('#table').dataTable({
            "sDom": 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"lfr>t<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"ip>',
            "oTableTools": {
                "sSwfPath": "@Url.Content("~/Content/copy_csv_xls.swf")",
                "aButtons": ["copy", "xls", "PrintBtn"]
            },
            "aoColumnDefs": [
            { "bSortable": false, "aTargets": [0] },
            { "bSortable": false, "aTargets": [1] },
            { "bSortable": false, "aTargets": [2] },
            { "bSortable": false, "aTargets": [3] },
            { "bSortable": false, "aTargets": [4] },
            { "bSortable": false, "aTargets": [5] },
            { "bSortable": false, "aTargets": [6] },
             { "bSortable": false, "aTargets": [7] },
            { "bSortable": false, "aTargets": [8] }
            ],
            @Html.Partial("_DataTable")
        });
        new FixedHeader(oTable);
    });
</script>


