@model  IEnumerable<string[]>
@{
    ViewBag.Title = "Danh sách phòng";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_DataTable.Lib")
@Html.Partial("_DataTable.Printer.Lib")

<table id="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Phòng</th>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <th>SLSV</th>
            <th>Ngày thi</th>
            <th>Giờ thi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m[0]</td>
                <td>@m[1]</td>
                <td>@m[2]</td>
                <td>@m[3]</td>
                <td>@m[4]</td>
                <td>@m[5]</td>
                <td>@m[6]</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#table').dataTable({
            "sDom": 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"lfr>t<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"ip>',
            "oTableTools": {
                        "sSwfPath": "@Url.Content("~/Content/copy_csv_xls.swf")",
                        "aButtons": ["copy", "xls", "PrintBtn"] 
                    },
            @Html.Partial("_DataTable")
        });
    });
</script>
