@model  IEnumerable<string[]>
@{
    ViewBag.Title = "Lịch thi của sinh viên";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_DataTable.Lib")
@Html.Partial("_DataTable.Printer.Lib")

@using (Html.BeginForm("StudentSchedule", "CalendarResults", FormMethod.Post, new { @id = "FilterForm" }))
{
    <p>
        Tên: @Html.TextBox("SearchString", Mvc_ESM.Static_Helper.StudentHelper.SearchString, new { id = "SearchString" })
            <input type="submit" value="Thực hiện" />
    </p>
}

<table id="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <th>Ngày thi</th>
            <th>Phòng thi</th>
            <th>Giờ thi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m[0]</td>
                <td>@m[1]</td>
                <td>@m[2]</td>
                <td>@m[3]</td>
                <td>@m[4]</td>
                <td>@m[5]</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var oTable = $('#table').dataTable({
            "sDom": 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"lfr>t<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"ip>',
            "oTableTools": {
                "sSwfPath": "@Url.Content("~/Content/copy_csv_xls.swf")",
                "aButtons": ["copy", "xls", "PrintBtn"]
            },
            "aoColumnDefs": [
            { "bSortable": false, "aTargets": [0] },
            { "bSortable": false, "aTargets": [1] },
            { "bSortable": false, "aTargets": [2] },
            { "bSortable": false, "aTargets": [3] },
            { "bSortable": false, "aTargets": [4] },
            { "bSortable": false, "aTargets": [5] },
            ],
            @Html.Partial("_DataTable")
        });
        new FixedHeader(oTable);
    });
</script>

