@model IEnumerable<Model.sinhvien>
@{
    ViewBag.Title = "Danh sách sinh viên thi theo ";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_DataTable.Lib")
@Html.Partial("_DataTable.Printer.Lib")

@using (Html.BeginForm("StudentsOfRooms", "CalendarResults", FormMethod.Post, new { @id = "FilterForm" }))
{
    <p>
        <p>
            Môn học: @Html.DropDownList("MonHoc", ViewBag.MonHoc as SelectList, new { id = "MonHocList" })
            Phòng: @Html.DropDownList("Phong", ViewBag.Phong as SelectList, new { id = "PhongList" })
            <input type="submit" value="Thực hiện" />
        </p>
    </p>
}

<table id="table">
    <thead>
        <tr>
            <th>Mã sinh viên
            </th>
            <th>Họ
            </th>
            <th>Tên
            </th>
            <th>Ngày Sinh
            </th>
            <th>Lớp
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSinhVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lop)
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var oTable = $('#table').dataTable({
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] },
                { "bSortable": false, "aTargets": [1] },
                { "bSortable": false, "aTargets": [2] },
                { "bSortable": false, "aTargets": [3] },
                { "bSortable": false, "aTargets": [4] }
            ], // không hiện nút sắp xếp!
            "aaSorting": [[2, 'asc']], //Xếp cột thứ 3
            "bStateSave": true,
            "sDom": 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"lfr>t<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"ip>',
            "oTableTools": {
                "sSwfPath": "@Url.Content("~/Content/copy_csv_xls.swf")",
                "aButtons": ["copy", "xls", "PrintBtn"]
            },
           @Html.Partial("_DataTable")
        });
        new FixedHeader(oTable);
        $("#MonHocList").change(function () {
            var id = $(this).val();
            $.getJSON("/Services/LoadRoomsBySubjectID", { SubjectID: id },
            function (Data) {
                var select = $("#PhongList");
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "Tất cả"
                }));
                $.each(Data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        });
    });
</script>
