@{
    ViewBag.Title = "Chọn ca không thi";
}

<h2>@ViewBag.Title</h2>
<table>
    <thead>
        <tr>
            <th>STT</th>
            <th>Thứ</th>
            <th>Ngày</th>
            @for (int i = 0; i < Mvc_ESM.Static_Helper.InputHelper.Options.Times.Count; i++) 
            { 
                <th>Ca @(i+1)</th>
            }            
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Mvc_ESM.Static_Helper.InputHelper.Options.NumDate; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@Mvc_ESM.Static_Helper.OutputHelper.DayOffWeekVN(Mvc_ESM.Static_Helper.InputHelper.Options.StartDate.AddDays(i))</td>
                <td>@Mvc_ESM.Static_Helper.InputHelper.Options.StartDate.AddDays(i).ToShortDateString()</td> 
                @for (int j = 0; j < Mvc_ESM.Static_Helper.InputHelper.Options.Times.Count; j++)
                {
                    <td>
                        <input type="checkbox" id="Check" @(Mvc_ESM.Static_Helper.InputHelper.BusyShifts[i * Mvc_ESM.Static_Helper.InputHelper.Options.Times.Count + j].IsBusy ?"checked":"") title="Ca Thi thứ @(j + 1)" />
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<button id="btnSave">Lưu</button>
@Html.Partial("_Jquery-UI.Lib")
<script type="text/javascript" charset="utf-8">
    $("#btnSave").button().click(function () {
        var sData = "";
        $("table #Check").each(function (index, item) {
            sData += (sData == '' ? '' : '&') + 'Shift=' + $(this).attr('checked');
        });

        $.post("/BusyShift/SelectSuccess", sData);
        alert("Đã lưu xong");
        return false;
    });
</script>