
@{
    ViewBag.Title = "Lập danh sách các môn phân đợt thi";
}
<h2>@ViewBag.Title</h2>
<p>
    <label for="Search">Tìm kiếm:</label>
    <input type="text" id="txtSearch" />
    <button id="btnUpdate">Tìm</button>
</p>
<table id="table">
    <thead>
        <tr>
            <th>MSMH</th>
            <th>Tên Môn Học</th>
            <th>Bộ Môn</th>
            <th>Khoa</th>
            <th>Nhóm</th>
            <th>SL SV</th>
            <th>Đợt</th>
           @* <th></th>*@
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
    <p></p>
    <br />
    <button id="btnSummit" type="button">Lưu</button> 
    <button id="btnCancel" type="button">Huỷ</button>

@Html.Partial("_DataTable.Lib")

<script src="@Url.Content("~/Scripts/UI/jquery.mousewheel.js")" type="text/javascript" lang="javascript" ></script>
<script type="text/javascript" charset="utf-8">
    var oTable;
    oTable = $('#table').dataTable({
        "bServerSide": true,
        "sAjaxSource": "/Services/DataTable_SelectGroups",
        "bProcessing": true,
        "bFilter": false,
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax( {
                "dataType": 'json', 
                "type": "POST", 
                "url": sSource, 
                "data": aoData, 
                "success": fnCallback
            } );
        },
	    "aoColumnDefs": [
            {
                "bSortable": false, "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    var b = $('<span id="SubjectID">' + sData + '</span>');
                    $(nTd).empty();
                    $(nTd).prepend(b);
                }
            },
            {
                "bSortable": true, "aTargets": [1]
            },
            {
                "bSortable": false, "aTargets": [2]
            },
                
            {
                "bSortable": false, "aTargets": [3]
            },
            {
                "bSortable": false, "aTargets": [4],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    var b = $('<span id="Class">' + sData + '</span>');
                    $(nTd).empty();
                    $(nTd).prepend(b);
                }
            },
            {
                "bSortable": false, "aTargets": [5]
            },
            {
                "bSortable": false, "aTargets": [6],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    var b = $('<input type="text" id ="Group" size=2 readonly="true" value="' + sData + '" />');
                    b.spinner({
                        step: 1,
                        spin: function (event, ui) {
                            if (ui.value > @Mvc_ESM.Settings.Page.Settings.GroupMaxSpinnerNum) {
                                $(this).spinner("value", @Mvc_ESM.Settings.Page.Settings.GroupMinSpinnerNum);
                                return false;
                            } else if (ui.value < @Mvc_ESM.Settings.Page.Settings.GroupMinSpinnerNum) {
                                $(this).spinner("value", @Mvc_ESM.Settings.Page.Settings.GroupMaxSpinnerNum);
                                return false;
                            }
                        }
                    });
                    $(nTd).empty();
                    $(nTd).prepend(b.parent()).attr('align', 'center');
                }
            },
	    ],
        
	    @Html.Partial("_DataTable")
    });

    oTable.fnSettings().aoServerParams.push({
        "sName": "user",
        "fn": function (aoData) {
                oTable.$("#SubjectID").each(function (index, item) {
                    aoData.push({
                        "name": "SubjectID",
                        "value": $(this).text()
                    });
                });
                oTable.$("#Class").each(function (index, item) {
                    aoData.push({
                        "name": "Class",
                        "value": $(this).text()
                    });
                });
                oTable.$("#Group").each(function (index, item) {
                    aoData.push({
                        "name": "Group",
                        "value": $(this).spinner("value")
                    });
                });
                aoData.push({
                    "name": "Search",
                    "value": $("#txtSearch").val()
                });                
        }
    });

    $("#btnUpdate").button().click(function () {
        oTable.fnPageChange(0, true);
        return false;
    });

	$('#btnSummit').button().click(function () {
	    var sData = "";
	    oTable.$("#SubjectID").each(function (index, item) {
	        sData = sData + (sData == '' ? '' : '&') + 'SubjectID=' + $(this).text();
	    });
	    oTable.$("#Class").each(function (index, item) {
	        sData = sData + '&Class=' + $(this).text();
	    });
	    oTable.$("#Group").each(function (index, item) {
	        sData = sData + '&Group=' + $(this).spinner("value");
	    });
	    $.post("/SelectGroup/SelectSuccess", sData, function () {
	        alert("Đã lưu xong");
	    });
	    return false; 
	});

	$("#btnCancel").button().click(function () {
	    $.post("/SelectGroup/SelectCancel", "", function () {
	        alert("Đã huỷ thiết lập xong! Bấm F5 để tải lại trang!");
	    });
	});
	new FixedHeader(oTable);
</script>