@model IEnumerable<Mvc_ESM.Models.sinhvien>
@{
    ViewBag.Title = "Chọn sinh viên được thi";
}

<h2>@ViewBag.Title</h2>

<link href="@Url.Content("~/Content/TableThemes/table_jui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TableThemes/page.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/UI/jquery-ui.js")" type="text/javascript" lang="javascript" ></script>
<link href="@Url.Content("~/Content/ui-lightness/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript" lang="javascript" ></script>


@using (Html.BeginForm("Index", "SelectSinhVien", FormMethod.Post, new { @id = "FilterForm" }))
{
    <p>
        <p>
            Khoa: @Html.DropDownList("Khoa", ViewBag.Khoa as SelectList, new { id = "KhoaList" })
            Bộ môn: @Html.DropDownList("BoMon", ViewBag.BoMon as SelectList, "Tất cả", new { id = "BoMonList" })
            Môn Học: @Html.DropDownList("MonHoc", ViewBag.MonHoc as SelectList, "Tất cả", new { id = "MonHocList" })
            <input type="submit" value="Thực hiện" />
        </p>
    </p>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#KhoaList").change(function () {
            var id = $(this).val();
            $.getJSON("/Services/LoadSubjectsByFacultyID", { FacultyID: id },
            function (Data) {
                var select = $("#BoMonList");
                select.empty();
              @*  select.append($('<option/>', {
                    value: "",
                    text: "Tất cả"
                }));*@
                $.each(Data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
            $.getJSON("/Services/LoadSubjectByFacultyID", { FacultyID: id },
            function (Data) {
                var select = $("#MonHocList");
                select.empty();
              @*  select.append($('<option/>', {
                    value: "",
                    text: "Tất cả"
                }));*@
                $.each(Data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
            
        });
        $('#BoMonList').change(function () {
            var id = $(this).val();
            $.getJSON("/Services/LoadSubjectsBySubject", { SubjectID: id },
                function (Data) {
                    var select = $("#MonHocList");
                select.empty();
              @*  select.append($('<option/>', {
                    value: "",
                    text: "Tất cả"
                }));*@
                    $.each(Data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        });
    });
</script>

<form>
    <table id="table">
        <thead>
            <tr>
                <th>Được thi
                </th>
                <th>Mã sinh viên
                </th>
                <th>Họ
                </th>
                <th>Tên
                </th>
                <th>Phái
                </th>
                <th>NgàySinh
                </th>
                <th>Lớp
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="StudentID" value="@item.MaSinhVien">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaSinhVien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ho)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgaySinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lop1.MaLop)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <p></p>
    <br />
    <button id="SummitButton" type="button">Lưu</button>
</form>
<link href="@Url.Content("~/Content/TableThemes/table_jui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TableThemes/page.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/UI/jquery-ui.js")" type="text/javascript" lang="javascript" ></script>
<link href="@Url.Content("~/Content/ui-lightness/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript" lang="javascript" ></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#SummitButton').click(function () {
	        var sData = oTable.$('input').serialize();
	        alert("The following data would have been submitted to the server: \n\n" + sData);
	        //http://api.jquery.com/jQuery.post/
	        $.post("/SelectSinhVien/SelectSuccess", sData);
	        return false; 
	    });
	} );
</script>


<link href="@Url.Content("~/Content/TableThemes/smoothness/jquery-ui-1.8.4.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript" lang="javascript" ></script>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#table').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sLengthMenu": "Hiển thị _MENU_ kết quả mỗi trang",
                "sZeroRecords": "Không tìm thấy dữ liệu",
                "sInfo": "Đang hiển thị kết quả thứ _START_ đến _END_ của _TOTAL_ kết quả",
                "sInfoEmpty": "Đang hiển thị kết quả thứ 0 đến 0 của 0 kết quả",
                "sInfoFiltered": "(Lọc từ _MAX_ kết quả)",
                "sSearch": "Tìm:",
                "oPaginate": {
                    "sFirst": "<<Đầu tiên",
                    "sLast": "Cuối cùng>>",
                    "sPrevious": "&lt;Trước",
                    "sNext": "Sau>",
                }
            }
        });
    });
</script>
