@model IEnumerable<Model.phong>
@{
    ViewBag.Title = "Chọn phòng sẽ thi";
}

<h2>@ViewBag.Title</h2>

<form>
    <table id="table">
        <thead>
            <tr>
                <th style="width: 130px">Sẽ tổ chức thi
                </th>
                <th>Mã phòng
                </th>
                <th>Kích thước
                </th>
                <th>Khoa
                </th>
                <th>Sức chứa
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" checked="checked" id="CheckBox" value="@item.MaPhong" Container ="@item.SucChua">
                    </td>
                    <td>
                        @item.MaPhong
                    </td>
                    <td>
                        @item.KichThuoc
                    </td>
                    <td>
                        @item.khoa.TenKhoa
                    </td>
                    <td>
                        @item.SucChua
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p></p>
    <br />
    <button id="SummitButton" type="button">Lưu</button>
</form>

@Html.Partial("_DataTable.Lib")

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var oTable = $('#table').dataTable({
            @Html.Partial("_DataTable")
        });

        $('#SummitButton').click(function () {
            var sData = "";
            oTable.$("#CheckBox").each(function (index, item) {
                if ($(this).attr("checked") == "checked") {
                    sData += (sData == '' ? '' : '&') + 'RoomID=' + $(this).attr("value") + '&Container=' + $(this).attr("Container");
                }
            });
            $.post("/SelectRoom/SelectSuccess", sData);
            alert("Đã lưu xong");
            return false; 
        });
    });
</script>
