@model IEnumerable<Model.sinhvien>
@{
    ViewBag.Title = "Sinh Viên";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>

@Html.Partial("_DataTable.Lib")

@using (Html.BeginForm("Index", "Student", FormMethod.Post, new { @id = "FilterForm" }))
{
    <p>

        <p>
            Khoa: @Html.DropDownList("Khoa", ViewBag.Khoa as SelectList, new { id = "KhoaList" })
            Lớp: @Html.DropDownList("Lop", ViewBag.Lop as SelectList, "Tất cả", new { id = "LopList" })
            Tên: @Html.TextBox("SearchString", Mvc_ESM.Static_Helper.StudentHelper.SearchString, new { id = "SearchString" })
            <input type="submit" value="Thực hiện" />
        </p>

    </p>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#KhoaList').change(function () {
            var id = $(this).val();
            $.getJSON("/Student/LoadClassByFacultyID", { FacultyID: id },
            function (Data) {
                var select = $("#LopList");
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "Tất cả"
                }));

                $.each(Data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                $("#SearchString").empty();
            });
        });

        $('#table tbody td button#Deletebtn').button({
            icons: {
                primary: "ui-icon-trash"
            }
        }).live('click', function () {
            var id = $(this).attr("value");
            var aDialog = $("#dialog-confirm");
            aDialog.removeAttr("style");
            aDialog.dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Xoá": function () {
                        $.post("/Student/Delete", "id=" + id, function (data) {
                            alert(data);
                            if (data == "Xoá thành công!")
                                window.location = "@Url.Action("Index", "Student")";
                        });
                        $(this).dialog("close");
                    },
                    "Không": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

        $('#table tbody td button#Modifybtn').button({
            icons: {
                primary: "ui-icon-pencil"
            }
        }).live('click', function () {
            var id = $(this).attr("value");
            window.location = '@Url.Action("Edit", "Student")' + "/" + id;
    });

        $('#table tbody td button#Detailbtn').button({
            icons: {
                primary: "ui-icon-info"
            }
        }).live('click', function () {
            var id = $(this).attr("value");
            window.location = '@Url.Action("Details", "Student")' + "/" + id;
        });
    });
</script>

<table id="table">
    <thead>
        <tr>
            <th>Mã sinh viên
            </th>
            <th>Họ
            </th>
            <th>Tên
            </th>
            <th>Phái
            </th>
            <th>NgàySinh
            </th>
            <th>Lớp
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSinhVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lop)
                </td>

                <td>
                    @*@Html.ActionLink("Sửa", "Edit", new { id=item.MaSinhVien }) |
                    @Html.ActionLink("Xem", "Details", new { id=item.MaSinhVien }) |
                    @Html.ActionLink("Xóa", "Delete", new { id=item.MaSinhVien })
                    <button id="Detailbtn" value="@item.MaGiaoVien">Xem</button>*@
                    <button id="Modifybtn" value="@item.MaSinhVien">Sửa</button>
                    | 
                    <button id="Deletebtn" value="@item.MaSinhVien">Xóa</button>

                </td>
            </tr>
        }
    </tbody>
</table>

<div id="dialog-confirm" title="Xóa dữ liệu?" style="visibility: hidden">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Bạn có muốn xoá dữ liệu này không?</p>
</div>

<link href="@Url.Content("~/Content/TableThemes/table_jui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TableThemes/smoothness/jquery-ui-1.8.4.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript" lang="javascript" ></script>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#table').dataTable({
            @Html.Partial("_DataTable")
        });
    });
</script>
