@model IEnumerable<Model.monhoc>

@{
    ViewBag.Title = "Môn học";
}

<h2>Danh sách @ViewBag.Title</h2>

@using (Html.BeginForm("Index","Subject",FormMethod.Post, new {@id="FilterForm"})){
<p>
       
         <p>
            Khoa: @Html.DropDownList("Khoa", ViewBag.Khoa as SelectList, new {id = "KhoaList"})  
            Bộ môn: @Html.DropDownList("BoMon", ViewBag.BoMon as SelectList, Mvc_ESM.Settings.Page.Settings.SelectAllString, new {id = "BoMonList" })
            Tên: @Html.TextBox("SearchString", ViewBag.SearchString as string, new { id = "SearchString" })  
            <input type="submit" value="Thực hiện" />
         </p>
</p>
}
<table id = "table">
    <thead>
		<tr>
			<th>
                Mã môn học
            </th>
            <th>
                Tên môn học
            </th>
            <th>
                Số TC LT
            </th>
            <th>
                Số TC TH
            </th>
            <th>
                Là môn thí nghiệm
            </th>
            <th>
                Khoa QL
            </th>
            <th>
                Bộ môn
            </th>
            <th>
                Ghi chú
            </th>
		</tr>
	</thead>
	<tbody>
    
@{
    foreach (var item in Model) {
        <tr>
            <td>
                @item.MaMonHoc
            </td>
            <td>
               @item.TenMonHoc
            </td>
            <td>
                @item.TCLyThuyet
            </td>
            <td>
                @item.TCThucHanh
            </td>
            <td>
                @item.MonThiNghiem
            </td>
            <td>
                @item.khoa.TenKhoa
            </td>
            <td>
                @item.bomon.TenBoMon
            </td>
            <td>
                @item.GhiChu
            </td>
        </tr>
    }
}
        </tbody>
</table>

@Html.Partial("_DataTable.Lib")

<script type="text/javascript" charset="utf-8">
    function fnFormatDetails(oTable, nTr) {
        var aData = oTable.fnGetData(nTr);
        var sOut = '<table id="itemDetail">';
        sOut += '<tr><td>Mã môn học:            </td><td>' + aData[1] + '</td></tr>';
        sOut += '<tr><td>Tên môn học:           </td><td>' + aData[2] + '</td></tr>';
        sOut += '<tr><td>Số tín chỉ lý thuyết:  </td><td>' + aData[3] + '</td></tr>';
        sOut += '<tr><td>Số tín chỉ thực hành:  </td><td>' + aData[4] + '</td></tr>';
        sOut += '<tr><td>Là môn thí nghiệm:     </td><td>' + aData[5] + '</td></tr>';
        sOut += '<tr><td>Khoa quản lý:          </td><td>' + aData[6] + '</td></tr>';
        sOut += '<tr><td>Thuộc bộ môn:          </td><td>' + aData[7] + '</td></tr>';
        sOut += '<tr><td>Ghi chú:               </td><td>' + aData[8] + '</td></tr>';
        sOut += '</table>';

        return sOut;
    }


    //Reload lại danh sách bộ môn khi khoa được chọn
    $("#KhoaList").change(function () {
        var id = $(this).val();
        $.getJSON("/Services/LoadSubjectsByFacultyID", { FacultyID: id },
        function (Data) {
            var select = $("#BoMonList");
            select.empty();
            select.append($('<option/>', {
                value: "",
                text: "@Mvc_ESM.Settings.Page.Settings.SelectAllString"
            }));
            $.each(Data, function (index, itemData) {
                select.append($('<option/>', {
                    value: itemData.Value,
                    text: itemData.Text
                }));
            });
            $("#SearchString").empty();
        });
    });

        

    //thêm nút detail ở cột đầu tiên
    var nCloneTh = document.createElement('th');
    var nCloneTd = document.createElement('td');
    nCloneTd.innerHTML = '<img id="details" src="@Url.Content("~/Content/TableThemes/details_open.png")">';
    nCloneTd.setAttribute("style", "text-align:center;");
    $('#table thead tr').each(function () {
        this.insertBefore(nCloneTh, this.childNodes[0]);
    });

    $('#table tbody tr').each(function () {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
    });
    // cài đặt sự kiện nút detail được click
    $('#table tbody td img#details').live('click', function () {
        var nTr = $(this).parents('tr')[0];
        if (oTable.fnIsOpen(nTr)) {
            this.src = "@Url.Content("~/Content/TableThemes/details_open.png")";
            oTable.fnClose(nTr);
        }
        else {
            this.src = "@Url.Content("~/Content/TableThemes/details_close.png")";
            oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
        }
    });
    //cài đặt bảng
    var oTable = $('#table').dataTable({
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [0] },
            //{ "bSortable": false, "aTargets": [1] },
            { "bSortable": false, "aTargets": [3] },
            { "bSortable": false, "aTargets": [4] },
            { "bSortable": false, "aTargets": [5] },
            { "bSortable": false, "aTargets": [6] },
            { "bSortable": false, "aTargets": [8] }
        ], // không hiện nút sắp xếp!
        "aaSorting": [[2, 'asc']], //Xếp cột thứ 3
        "bStateSave": true,
        @Html.Partial("_DataTable")
    });
    // Ẩn cột
    oTable.fnSetColumnVis(3, false);
    oTable.fnSetColumnVis(4, false);
    oTable.fnSetColumnVis(5, false);
    oTable.fnSetColumnVis(6, false);
    oTable.fnSetColumnVis(8, false);

    $(document).ready(function () {
        new FixedHeader(oTable);
    });
</script>