@model Mvc_ESM.Models.phong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>phong</legend>

    <div class="display-label">MaPhong</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaPhong)
    </div>

    <div class="display-label">KichThuoc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KichThuoc)
    </div>

    <div class="display-label">khoa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.khoa.TenKhoa)
    </div>

    <div class="display-label">SucChua</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SucChua)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
