@model IEnumerable<Mvc_ESM.Models.monhoc>

@{
    ViewBag.Title = "Môn học";
}

<h2>Danh sách môn học</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
@using (Html.BeginForm("Index","MonHoc",FormMethod.Post, new {@id="FilterForm"})){
<p>
       
         <p>Khoa: @Html.DropDownList("Khoa", "Tất cả")  
           Tên: @Html.TextBox("SearchString", Mvc_ESM.Static_Helper.MonHocHelper.SearchString)  
         <input type="submit" value="Thực hiện" /></p>
        
</p>
}
<table id = "table">
    <thead>
		<tr>
			<th>
            Mã môn học
        </th>
        <th>
            Tên môn học
        </th>
        <th>
            Số TC LT
        </th>
        <th>
            Số TC TH
        </th>
        <th>
            Là môn thí nghiệm
        </th>
        <th>
            Khoa QL
        </th>
        <th>
            Bộ môn
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
		</tr>
	</thead>
	<tbody>
    
@{
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaMonHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMonHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TCLyThuyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TCThucHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonThiNghiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.khoa.TenKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bomon.TenBoMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaMonHoc }) |
                @Html.ActionLink("Xem", "Details", new { id = item.MaMonHoc }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaMonHoc })
            </td>
        </tr>
    }
}
        </tbody>
</table>

@*<link href="@Url.Content("~/Content/page.css")" rel="stylesheet" type="text/css" />*@
<link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript" lang="javascript" ></script>
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript" lang="javascript" ></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#table').dataTable( {
		    "sPaginationType": "full_numbers",
            "oLanguage": {
		        "sLengthMenu": "Hiển thị _MENU_ kết quả mỗi trang",
                "sZeroRecords": "Không tìm thấy dữ liệu",
                "sInfo": "Đang hiển thị kết quả thứ _START_ đến _END_ của _TOTAL_ kết quả",
                "sInfoEmpty": "Đang hiển thị kết quả thứ 0 đến 0 của 0 kết quả",
                "sInfoFiltered": "(Lọc từ _MAX_ kết quả)",
                "sSearch": "Tìm:",
                "oPaginate": {
                    "sFirst": "<<Đầu tiên",
                    "sLast": "Cuối cùng>>",
                    "sPrevious": "&lt;Trước",
                    "sNext": "Sau>",
                }
		    }
		} );
	} );
</script>