@model Mvc_ESM.Models.giaovien

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>giaovien</legend>

    <div class="display-label">MaGiaoVien</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaGiaoVien)
    </div>

    <div class="display-label">TenGiaoVien</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenGiaoVien)
    </div>

    <div class="display-label">bomon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bomon.TenBoMon)
    </div>

    <div class="display-label">HoLot</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoLot)
    </div>

    <div class="display-label">HocHam</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HocHam)
    </div>

    <div class="display-label">HocVi</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HocVi)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
