@model Mvc_ESM.Models.giaovien

@{
    ViewBag.Title = "Giáo viên";
}

<h2>Chi tiết @ViewBag.Title</h2>

<fieldset>
    <legend>@ViewBag.Title</legend>

    <div class="display-label">Mã giáo viên</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaGiaoVien)
    </div>

    <div class="display-label">Họ lót</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoLot)
    </div>

    <div class="display-label">Tên giáo viên</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenGiaoVien)
    </div>

    <div class="display-label">Bộ môn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bomon.TenBoMon)
    </div>

    <div class="display-label">Học hàm</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HocHam)
    </div>

    <div class="display-label">Học vị</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HocVi)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.MaGiaoVien }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
